@model LearningWebsite.Models.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete</title>
</head>
<body>
    <div> 
        <p>complete</p>
    </div>
</body>
</html>
